{% extends 'base.html' %}

{% load static %}

{% block title %}Patient{% endblock %}


{% block nav %}
    {% include 'Patient/Home/nav_patient.html' %}
{% endblock %}


{% block registration_form %}
<p>Order no: {{ order_id }}</p>
<table class="table">
  <thead>
  <tr>
      <th scope="col">Medicine name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Amount</th>

  </tr>
  </thead>
  <tbody>
    
  {% for item in items %}
      <tr>

          <td>{{ item.product.name }}</td>
          <td> {{ item.product.price }}</td>
          <td> {{ item.quantity }} </td>
          <td> {{ item.total }}</td>
          <td>

                  <span class="glyphicon glyphicon-trash"></span>
              </a>
          </td>
      </tr>
  {% endfor %}
  </tbody>
</table>

<h1>Total: {{ total }}</h1>
    

{% endblock %}