{% extends 'base.html' %}

{% load static %}

{% block title %}Deliveryman{% endblock %}


{% block nav %}
{% include 'deliveryman/nav_deliveryman.html' %}
{% endblock %}


{% block registration_form %}
<table class="table">
  <thead>
  <tr>
      <th scope="col">Order number</th>
      <th scope="col">Order status</th>
      <th scope="col">Action</th>

  </tr>
  </thead>
  <tbody>
    
  {% for order in orders %}
      <tr>

          <td>{{ order.id }}</td>
          <td>{{ order.status }}</td>
          <td><form method="post">{% csrf_token %}
            <input type="hidden" name = "selected" value="{{order.id}}">
            <button type="submit" class="btn btn-primary btn-sm">Show Details</button>
          </form></td>
          <td><form method="post">{% csrf_token %}
            <input type="hidden" name = "picked" value="{{order.id}}">
            <button type="submit" class="btn btn-primary btn-sm">Picked</button>
          </form></td>
          <td><form method="post">{% csrf_token %}
            <input type="hidden" name = "delivered" value="{{order.id}}">
            <button type="submit" class="btn btn-primary btn-sm">Delivered</button>
          </form></td>
      </tr>
  {% endfor %}
  </tbody>
</table>
    

{% endblock %}