{% extends 'base.html' %}

{% block nav %}
{% include 'pharmacy/nav_pharmacy.html' %}
{% endblock %}


{% block registration_form %}

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container ">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h1 class="title">Add Product</h1>

        {{ form.as_p }}

        <div class="p-t-15">
                <button class="btn btn--radius-2 btn--blue">Add Product</button>
            </div>
                    
                    </div>
                </div>
            </div>
        </div>

    </form>

{% endblock %}