{% extends 'base.html' %}
{% load static %}

{% block title %}Doctor{% endblock %}

{% block nav %}
    {% include 'Doctor/Home/nav_doctor.html' %}
{% endblock %}

{% block card_chamber %}

    <div class="container ">
        <div class="wrapper wrapper--w680">
            <div class="card card-3">
                <div class="card-body">
                    <h2 class="title"> Chamber No: {{ chamber.id }} Address : {{ chamber.address }} Appointments </h2>
                    {% for key, value in appointments.items %}
                        <div class="row row-space">
                            {#                            <div class="col-2">#}
                            {#                                card code#}
                            <div class="card text-center">
                                <h5 class="card-header">{{ key }}</h5>
                                {% for each_data in value  %}
                                    <div class="card-body">
                                        <h5 class="card-title"> Patient name: {{ each_data.patient }} </h5>
{#                                        <p class="card-text">description : {{ each_data.description}}</p>#}
                                        <a href="{% url 'doctor:show_patient_profile' doctor.first_name each_data.patient_id %}" class="btn btn-primary">
                                            Show profile of {{ each_data.patient }}</a>

                                        <a href="{% url 'doctor:show_completed_prescription' doctor.first_name each_data.appointment_id  %}" class="btn btn-primary">
                                            Show Prescription </a>


{#                                        <a href="{% url 'doctor:write_prescription' doctor.first_name each_data.patient_id  %}" class="btn btn-primary">#}
{#                                            Start Appointment</a>#}
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}